# Ignore everything
*
.idea

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!Makefile
!*.yaml

!.goreleaser.yml
!.gitleaks.toml
!.yamllint
!.golangci.toml
!.golic.yaml
!.licignore
!action.yml
!CHANGELOG.md
!Dockerfile
!README.md
!LICENSE

# ...even if they are in subdirectories
!*/
!examples/*
!.github/*